
header{
    background-color: #101010; 
}
header a{
    text-decoration: none;
    text-transform: none;
    color: #0d9865;
}
header ul{
    list-style: none;
}
header a:hover{
   cursor: default;
   color:#0d9865 ;

}
header ul li{
    margin-left: 40px;
}
.about{
    background-color:#0d9865 ;
}
.about img{
    opacity: 0.4;
    width: 100%;
    height: auto;
    
}
.about a{
    color: #0d9865;
    font-family: 'MuseoModerno', sans-serif;
    

}
.about a:hover{
    cursor: default;
    color:#0d9865 ;
}
.about h1{
    font-family: 'MuseoModerno', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

.competence{
    background-color:#101010 ;
    color: #0d9865;
}
.competence ul{
    list-style: none;
}
.projet{
    background-color: #0d9865;
    

}
.projet h2{
    font-family: 'MuseoModerno', sans-serif;

}

.card{
    background-color: #101010 ;
}
